<!DOCTYPE html>
<html>
  <head>
    <title>ROSS Conf Logo</title>
    <link rel="stylesheet" href="/style.css" charset="utf-8" />
  </head>
  <body>
    <form action="#">
      <input type="text" name="text" value="" size="60" autocomplete="off">
    </form>

    <script src='/javascripts/zepto.min.js' type='text/javascript'></script>
    <script src='/javascripts/lodash.js' type='text/javascript'></script>
    <script src='/javascripts/logo_generator.js' type='text/javascript'></script>
  </body>
</html>
